@import 'variables.module.scss';

.param_list_container {
  overflow: hidden;
  margin-top: 8px;
  padding-bottom: 4px;

  &:focus {
    outline: none;
  }

  &.scrolling {
    margin-top: 12px;
    background: rgb(250, 250, 250);
  }

  .param_list {
    margin: 4px 0px;
    position: relative;
    overflow-y: auto;
    max-height: 190px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.param {
  z-index: 2000;

  &:last-child {
    :global {
      .fe-x {
        opacity: 0 !important;
        cursor: default;
      }
    }
    .dnd_icon {
      opacity: 0;
    }  
  }

}
