@import 'variables.module.scss';

.list_wrapper {
  display: flex;
  flex-direction: column;
  gap: $unnnic-spacing-sm;
  margin-bottom: $unnnic-spacing-sm;

  .title{
    display: flex;
    margin-bottom: $unnnic-spacing-sm;
  }

  .list_items{
    display: flex;
    flex-direction: column;
    border: .5px solid $unnnic-color-neutral-cleanest;
    border-radius: 1px;
    padding: 16px;
    gap: 7px;
    background-color: $unnnic-color-neutral-white ;

    .item{
      display: flex;
      flex-direction: row;
      gap: $unnnic-spacing-sm;
      margin-bottom: $unnnic-spacing-xs;

      .options_name{
        width: 200px;
      }

      .options_value{
        width: 386px;
      }

      .variable{
        display: flex;
        width: 100% ;
      }


      .name{
        :global{
          .input{
            display: flex;
              width: 200px !important;
          }
        }
      }

      .value{
        :global{
          .input{
            display: flex;
              width: 386px !important;
          }
        }
      }

    }
  }
}