@import "variables.module.scss";

.alert {
  display: flex;
  padding: $unnnic-spacing-sm;
  align-items: center;
  gap: $unnnic-spacing-xs;
  align-self: stretch;

  border-radius: $unnnic-border-radius-sm;
  border: $unnnic-border-width-thinner solid $unnnic-color-neutral-soft;
  background: $unnnic-color-background-lightest;
  cursor: pointer;

  .icon {
    font-size: 20px !important;
    margin-top: 2px;
  }

  .alert_text {
    color: $unnnic-color-neutral-dark;
    font-size: $unnnic-font-size-body-gt;
    line-height: $unnnic-font-size-body-gt + $unnnic-line-height-md;

    b {
      margin-right: $unnnic-spacing-xs;
    }
  }
}