@import 'src/variables.module.scss';

.list_wrapper {
  display: flex;
  flex-direction: column;
  gap: $unnnic-spacing-sm;
}

.list_inputs {
  display: flex;
  flex-direction: row;
  gap: $unnnic-spacing-xs;

  * {
    flex: 1;
  }
}

.list_items {
  display: flex;
  flex-direction: column;
  gap: $unnnic-spacing-stack-sm;
  margin-top: $unnnic-spacing-sm;
}

.list_item_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: $unnnic-spacing-xs;
}

.list_item_remove {
  width: 100%;
}

.list_item_enter,
.reply_item_enter {
  opacity: 0.0;
}

.list_item_enter_active,
.reply_item_enter_active {
  opacity: 1;
  transition: opacity 250ms ease-in
}

.list_item_exit,
.reply_item_exit {
  opacity: 1;
}

.list_item_exit_active,
.reply_item_exit_active {
  opacity: 0;
  transition: opacity 250ms ease-in
}

.item_z_index {
  z-index: 99999;
  box-shadow: $unnnic-shadow-level-near;
}

.error_message {
  color: $unnnic-color-feedback-red;
  margin-top: $unnnic-spacing-stack-nano;
}