@import 'variables.module.scss';

.content {
  display: flex;
  flex-direction: column;
  gap: $unnnic-spacing-xs;

  .header {
    display: flex;
    gap: $unnnic-spacing-inline-xs;
    width: 100%;
    
    .header_type {
      display: flex;
      flex-direction: column;
      width: 145px;

      span {
        margin-bottom: $unnnic-spacing-stack-nano;
      }
    }

    .header_text {
      flex: 4;
      margin-top: $unnnic-spacing-md;
    }
    
    .attachment_url {
      flex: 3;
    }
    
    .upload_button {
      margin-top: $unnnic-spacing-md;
    }
  }

  .attachment {
    display: flex;
    align-items: center;
    color: $unnnic-color-neutral-cloudy;
    font-size: $unnnic-font-size-body-md;
    font-weight: $unnnic-font-weight-bold;
    line-height: $unnnic-line-height-md + $unnnic-font-size-body-md;

    .remove {
      span {
        font-size: 20px !important;
      }
    }
  }
}

.interaction_type {
  display: flex;
  margin-bottom: $unnnic-spacing-stack-md;
}

.location_message {
  textarea {
    color: $unnnic-color-neutral-cleanest !important;
    border: $unnnic-border-width-thinner solid $unnnic-color-neutral-soft !important;
    background-color: transparent !important;
  }
}