@import 'variables.module.scss';

.quick_replies, .list_items {
  display: flex;
  flex-wrap: wrap;
  gap: $unnnic-spacing-stack-xs $unnnic-spacing-inline-xs;
}

.icons {
  display: flex;
  gap: $unnnic-spacing-inline-xs;
  margin-top: $unnnic-spacing-stack-xs;
}

.attachment {
  padding-left: 5px;
  color: $gray;
  transform: rotate(30deg);
  display: inline-block;
}

.summary {
  margin-top: 4px;
}

.whatsapp {
  display: inline-block;
  padding-left: 5px;
  color: $gray;
}

.facebook {
  display: inline-block;
  padding-left: 5px;
  color: $gray;
}

.line {
  display: block;
  min-height: $unnnic-font-size-body-md;
}

.icons_wrapper {
  background-color: $unnnic-color-neutral-light;
  border-radius: $unnnic-border-radius-pill;
  width: fit-content;
  padding: $unnnic-spacing-nano $unnnic-spacing-xs;
  line-height: 1;
  margin-top: $unnnic-spacing-stack-xs;

  .icon {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    font-size: 20px;
  }
}
