@import 'src/variables.module.scss';

$reset_color: #666;

.sim_container {
  position: fixed;
  right: 0;
  z-index: $z_simulator;
}

.simulator.sim_hidden {
  left: 0px !important;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
  transition-delay: 100ms;
}

.simulator {
  box-shadow: $unnnic-shadow-level-near;
  border-radius: $unnnic-border-radius-md;

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }

  input {
    &:focus {
      outline-color: transparent;
      outline-style: none;
    }

    &::-webkit-input-placeholder {
      color: $placeholder_color;
    }

    &::-moz-placeholder {
      color: $placeholder_color;
    }

    &:-ms-input-placeholder {
      color: $placeholder_color;
    }

    &:-moz-placeholder {
      color: $placeholder_color;
    }
  }

  input:disabled {
    background: lighten(#e6e6e6, 5%);
    cursor: not-allowed;
    $disabled_color: darken($placeholder_color, 5%);

    &::-webkit-input-placeholder {
      color: $disabled_color;
    }

    &::-moz-placeholder {
      color: $disabled_color;
    }

    &:-ms-input-placeholder {
      color: $disabled_color;
    }

    &:-moz-placeholder {
      color: $disabled_color;
    }
  }

  left: -300px;
  top: 0px;
  position: absolute;
  width: 280px;
  z-index: $z_simulator;
  transition: right 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
  transition-delay: 100ms;

  .screen {
    height: 488px;
    border-radius: $unnnic-border-radius-md;
    overflow: hidden;
    position: relative;
    cursor: default;

    .header {
      color: #eee;
      background-color: $unnnic-color-brand-weni-soft;
      height: 40px;

      .close {
        font-size: 20px;
        width: 25px;
        height: 25px;
        right: 5px;
        top: 10px;
        position: absolute;
        color: $unnnic-color-background-snow;
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }

      .time {
        display: inline-block;
        visibility: hidden;
      }

      .battery {
        display: inline-block;
        visibility: hidden;
        right: 12px;
        position: absolute;
        font-size: 13px;
      }

      .wifi {
        visibility: hidden;
        display: inline-block;
        right: 38px;
        position: absolute;
      }

      .reset {
        position: absolute;
        cursor: pointer;
        right: 36px;
        top: 8px;
      }
    }

    .header.whatsapp {
      background-color: $unnnic-color-neutral-dark;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      color: #eee;
      background: $unnnic-color-brand-weni-soft;
      height: 27px;
      position: absolute;
      z-index: 200;
      bottom: 0;
      width: 100%;

      $light_reset: lighten($reset_color, 7%);

      .show_context_button {
        display: inline-block;
        padding: 8px;
        cursor: pointer;

        &:hover {
          color: #ddd;
        }
      }

      .whatsapp_switch {
        display: flex;
        align-items: center;
        gap: $unnnic-spacing-inline-nano;
        font-size: $unnnic-font-size-body-md;
        line-height: $unnnic-line-height-md + $unnnic-font-size-body-md;
        color: $unnnic-color-neutral-snow;
      }
    }

    .footer.whatsapp {
      background-color: $unnnic-color-neutral-dark;
    }

    .messages {
      background-color: #fff;
      user-select: none;
      padding: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      font-weight: 300;
      position: relative;
      transition: height 0.3s linear;
    }

    .messages.whatsapp {
      background: url("https://user-images.githubusercontent.com/30026625/242899357-3b7dd272-b2bf-4ac4-a4e1-aba24556a9f2.png") $unnnic-color-brand-sec-dark;
      background-size: 400px;
      background-blend-mode: luminosity;
      background-color: #dedede;
    }

    .controls {
      z-index: 160;
      background: $unnnic-color-background-sky;
      bottom: 0px;
      width: 266px;
      padding: 7px;
      bottom: 27px;
      position: absolute;

      input {
        &::placeholder {
          color: $unnnic-color-neutral-cleanest;
        }

        &:focus {
          outline: none;
          box-shadow: none;
          border: none;
        }

        border-radius: 4px;
        border: none;
        outline: none;
        box-shadow: none;
        font-size: 12px !important;
        font-weight: 300;
        height: 13px;
        width: 205px;
        padding: 6px 8px;
        padding-right: 36px;
        color: #333;
        display: inline-block;
        margin: 0;
        background-color: $unnnic-color-background-sky;
      }
    }

    .show_attachments_button {
      display: inline-block;
      vertical-align: sub;
      padding: 0px 5px;
      position: absolute;
      top: 11px;
      right: 4px;
      cursor: pointer;
    }

    .attachment_buttons {
      display: flex;
      justify-content: center;
      bottom: -100px;
      position: absolute;
      transition: bottom 200ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
      width: 100%;
      background: $unnnic-color-background-sky;
      height: 40px;
      color: $unnnic-color-neutral-cloudy;
      z-index: 160;
      text-align: center;

      &.visible {
        bottom: 27px;
      }

      div > div {
        cursor: pointer;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 10px;
        font-size: 18px;
      }
    }
  }
}

.drawer {
  &.drawer_visible {
    &.forced {
      background: $unnnic-color-background-sky;
    }
  }

  width: 100%;
  position: absolute;
  z-index: 160;
  background: $unnnic-color-background-sky;
  transition: bottom 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-bottom: $unnnic-border-width-thinner solid $unnnic-color-neutral-soft;

  .drawer_header {
    height: 10px;
    background: $unnnic-color-background-sky;
    color: $light_gray;
    width: 100%;
  }

  .map_thumb {
    height: 74px;
    width: 100%;
    cursor: pointer;
  }

  .audio_picker {
    padding: 20px;
    color: $unnnic-color-neutral-cloudy;
    cursor: pointer;
    text-align: center;

    &:hover {
      background: $unnnic-color-neutral-soft;
    }

    .audio_icon {
      display: inline;
      font-size: 26px;
    }

    .audio_message {
      display: inline;
      font-size: 15px;
      padding-left: 3px;
      vertical-align: super;
    }
  }

  .keypad {
    .keypad_entry {
      background: #555;
      color: $light_gray;
      font-size: 18px;
      padding: 5px;
      text-align: center;
      letter-spacing: 4px;
    }

    .keys {
      color: $light_gray;
      padding: 5px;

      .row {
        width: 100%;
        margin: 0;
        text-align: center;

        .key {
          padding: 4px 13px;
          background: #777;
          border-radius: 6px;
          font-weight: bold;
          border: 1px solid $light_gray;
          display: inline-block;
          text-align: center;
          margin: 2px;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            background: #999;
          }
        }
      }
    }
  }

  .drawer_items {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    padding-right: 10px;

    .drawer_item {
      width: 70px;
      padding-left: 10px;
      flex: 1 1 auto;
      cursor: pointer;
      transition: transform 0.1s linear;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.simulator_tab.tab_hidden,
.simulator_tab:hover.tab_hidden {
  right: -130px;
  transition: right 100ms;
}

.simulator_tab {
  background-color: #009E96;
  width: 130px;
  height: 40px;
  position: fixed;
  right: -75px;
  top: 300px;
  cursor: pointer;
  z-index: $z_simulator;
  transition: right 200ms, opacity 300ms;
  transition-delay: 300ms;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: flex;

  .simulator_tab_icon {
    display: inline-block;
    padding: 4px 12px;
  }

  .simulator_tab_text {
    color: white;
    opacity: 0.01;
    font-weight: 400;
    transition: opacity 500ms;
    transition-delay: 1000ms;
    font-size: 12px;
    line-height: 16px;
    align-self: center;
  }
}

.simulator_tab:hover {
  right: -10px;
  transition: right 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  .simulator_tab_text {
    opacity: 0.99;
    transition: opacity 500ms;
  }
}

.simulator_tab:hover+.guiding_steps {
  right: 130px !important;
  transition: right 100ms;
}

.detail_webhook_called {
  background: $orange;
}

.quick_replies {
  text-align: center;
  padding: 5px;

  .quick_reply {
    display: inline-block;
    color: $light_gray;
    text-align: center;
    padding: 5px 16px;
    border: 1px solid #666;
    margin: 3px 6px;
    border-radius: 14px;
    cursor: pointer;
    background: #444;

    transition: transform 0.1s linear;

    &:hover {
      background: #333;
      transform: scale(1.05);
    }
  }
}

.guiding_steps {
  position: fixed !important;
  top: 320px !important;
  right: 65px !important;
  transition: right 200ms, opacity 300ms;
  transition-delay: 300ms;
}