@import 'variables.module.scss';
@import '~@weni/unnnic-system/src/assets/scss/unnnic.scss';

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3) rotate(2deg);
  }
  100% {
    transform: scale(1);
  }
}

.title {
  border-top-right-radius: $unnnic-border-radius-md;
  border-top-left-radius: $unnnic-border-radius-md;
}

.node_container {
  display: flex;

  padding: $node_padding + px;
  z-index: $z_nodes;
  position: relative;

  .uuid {
    user-select: text;
    position: absolute;
    z-index: 10000;
    white-space: nowrap;
    background: #ffffffdd;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    top: 17px;
    align-content: center;
    font-size: 8px;
    font-family: monospace;
    left: 16px;
    &:hover {
      background: #ffffffff;
    }
  }

  &.ghost {
    opacity: 0.5;
    transition: none;
    z-index: $z_dragging;
  }

  &.nondragged {
    opacity: 0.6;
    transition: opacity 400ms ease;
  }

  .node {
    box-shadow: $unnnic-shadow-level-near;

    &:hover {
      outline: $unnnic-color-brand-weni-soft solid $unnnic-border-width-thin;
    }
  }

  & .large_node {
    width: 220px;
  }

  &.selected {
    .node {
      outline: $unnnic-color-brand-weni-soft solid $unnnic-border-width-thin;
    }

  }

  &.immutable {
    .node {
      cursor: default;
    }
  }

  .node {
    border-radius: $unnnic-border-radius-md;
    padding: 0;
    user-select: none;
    cursor: pointer;
    min-width: $node_min_width + px;

    flex-shrink: 0;
    transition: transform 200ms;
    font-size: $unnnic-font-size-body-md;
    line-height: $unnnic-font-size-body-md + $unnnic-line-height-md;

    .save_as {
      display: inline;
    }

    .save_result {
      background: #fff;
      padding: $unnnic-spacing-inset-xs;
      text-align: center;

      font-family: $unnnic-font-family-secondary;
      font-size: $unnnic-font-size-body-md;
      line-height: $unnnic-font-size-body-md + $unnnic-line-height-md;
      color: $unnnic-color-neutral-dark;

      &.border_top {
        border-top: $unnnic-border-width-thinner solid $unnnic-color-neutral-soft;
      }
      .result_name {
        font-weight: $unnnic-font-weight-bold;
        display: inline;
      }
    }

    .selected {
      background: #EEFFFC;
    }

    .cropped {
      border: 0px solid green;
      border-top-left-radius: $curvature - 1px;
      border-top-right-radius: $curvature - 1px;
      position: relative;
    }

    .exit_table {
      border: 0px solid red;
      .exits {
        box-shadow: 0px -2px 0px -1px $borders;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    .add {
      position: absolute;
      right: (-$unnnic-font-size / 2) - $node_padding / 2;
      bottom: (-$unnnic-font-size / 2) - $node_padding / 2;
      visibility: hidden;
      text-decoration: none;
      border-radius: $unnnic-border-radius-sm;
      background-color: $unnnic-color-background-sky;
      outline: $unnnic-border-width-thinner solid $unnnic-color-neutral-clean;
      outline-offset: -$unnnic-border-width-thinner;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        outline-width: 0;
      }
    }
    &:hover {
      .add {
        visibility: visible;
      }
      .drag_group {
        visibility: visible;
      }
    }
  }

  &.flow_start {
    .flow_start_message {
      position: absolute;
      width: 100%;
      z-index: 10000;
      text-transform: uppercase;
      text-align: center;
      top: - $unnnic-font-size-body-md - $unnnic-line-height-md - $unnnic-spacing-stack-xs;
    }
  }
}

.active {
  position: absolute;
  background: #C4EAF5;
  border-radius: 4px;
  font-family: $unnnic-font-family-secondary;
  color: $unnnic-color-neutral-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  top: -10px;
  left: -10px;
  font-size: 12px;
  width: 22px;
  height: 28px;
  cursor: pointer;
}
