@import 'variables.module.scss';

.type_list {
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: $unnnic-font-family-secondary;
  font-weight: $unnnic-font-weight-regular;
  font-size: $unnnic-font-size-body-md;
  line-height: $unnnic-font-size-body-md + $unnnic-line-height-md;
}

input {
  outline: none !important;
  box-shadow: none !important;
}
