@import 'variables.module.scss';

$spacing: 10px;

.group {
  padding-bottom: 0 !important;
  margin-bottom: 0px;
}

textarea:focus,
input:focus {
  outline: none;
}

.divider {
  padding-left: $spacing;
  padding-right: $spacing;
  vertical-align: sub;
  font-size: 13px;
  line-height: 13px;
  margin-top: 4px;
}

.kase {
  display: flex;
  align-items: center;
  user-select: none;

  display: flex;
  align-items: center;
  column-gap: $unnnic-spacing-inline-xs;

  .form_group {
    margin: 0;
  }

  .operator_container {
    flex: 0.70;
    display: flex;
    align-items: center;
    column-gap: $unnnic-spacing-inline-xs;
  }

  .categorize_as_container {
    margin-left: $unnnic-spacing-inline-xs;
    flex: 0.30;
    display: flex;
    align-items: center;
    column-gap: $unnnic-spacing-inline-xs;
    white-space: nowrap;
  }

  .choice {
    flex: 1;

    :global {
      .unnnic-select {
        max-width: 100%;
      }
    }
  }

  .single_operand {
    flex: 1;

    :global {
      input {
        width: 100% !important;
      }
    }
  }

  .multi_operand {
    flex: 1;
    display: flex;
    align-items: center;

    :global {
      input {
        width: 100% !important;
      }
    }
  }

  .category {
    position: relative;
    padding: 1px 0;
  }

  .category_wrapper {
    flex: 1;
  }

  &:hover {
    .remove_icon {
      opacity: 1;
    }

    .dnd_icon {
      opacity: 1;
    }
  }

  input {
    padding: 6px 7px;
  }

  .relative_date {
    display: inline-block;
    width: 50px;

    input {
      width: 50px;
    }
  }
}

.dnd_icon {
  color: #aaa;
  font-weight: bold;
  padding-top: 20px;
  padding-right: 2px;
  padding-left: 5px;
  float: left;
  opacity: 0;
  font-size: 9px;
  line-height: 9px;
}

.remove_icon {
  color: #aaa;
  padding-top: 20px;
  float: right;
  line-height: 12px;
  cursor: pointer;
  margin-left: 4px;
  font-size: 9px;
}

.empty {
  display: inline-block;
  width: 15px;
}

[data-draggable='true'] {
  cursor: pointer;
}