@import 'variables.module.scss';
@import '@weni/unnnic-system/dist/scss/unnnic.scss';

.title {
  margin-bottom: $unnnic-spacing-stack-sm;
}

.quick_reply_summary {
  margin-bottom: $unnnic-spacing-stack-sm;
}

.template_text {
  margin-top: 10px;
  padding: 10px;
  background: $light_gray_2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.variable {
  margin-bottom: 6px;
}

temba-completion {
  --textarea-height: 120px;
}
