@import 'variables.module.scss';

.quick_replies {
  display: flex;
  flex-wrap: wrap;
  gap: $unnnic-spacing-stack-xs $unnnic-spacing-inline-xs;
}

.attachment {
  padding-left: 5px;
  color: $gray;
  transform: rotate(30deg);
  display: inline-block;
}

.summary {
  margin-top: 4px;
}

.whatsapp {
  display: inline-block;
  padding-left: 5px;
  color: $gray;
}

.facebook {
  display: inline-block;
  padding-left: 5px;
  color: $gray;
}

.line {
  display: block;
}
