@import 'src/variables.module.scss';

.editor {
  position: relative;
  font-family: $unnnic-font-family-secondary, sans-serif;
  font-weight: $unnnic-font-weight-regular;
  color: $unnnic-color-neutral-dark;
  height: 100%;
  font-size: $unnnic-font-size-body-md;
  line-height: $unnnic-font-size-body-md + $unnnic-line-height-md;
  margin: 0;
  user-select: none;
}

.translating {
  .editor {
    $color_1: rgba(0, 0, 0, 0.02);
    $color_2: rgba(0, 0, 0, 0.01);
    background: repeating-linear-gradient(-60deg,
        $color_1,
        $color_1 3px,
        $color_2 3px,
        $color_2 6px);
  }

  :global {
    svg path {
      stroke: $translation_connector !important;

      &.jtk-arrow {
        fill: $translation_connector !important;
      }
    }
  }

  // svg.jtk-connector path.jtk_arrow {
}

.footer {
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: $z_footer;
  background: #fff;
  box-shadow: 0px -3px 3px 0px $node_shadow_color;

  .download_button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.alert_body {
  font-size: 15px;
  line-height: 22px;
  padding: 15px 10px;
}

.alert_modal {
  top: 158px;
  position: absolute;
}

.saving {
  position: absolute;
  top: -3px;
  right: 110px;
  z-index: $z_saving;
}