@import 'variables.module.scss';
@import '~@weni/unnnic-system/src/assets/scss/unnnic.scss';

.sidebar {
  position: absolute;
  width: 72px;
  background-color: $unnnic-color-background-sky;
  border-radius: $unnnic-border-radius-sm;
  border: 1px solid $unnnic-color-neutral-soft;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 63px;
  margin-left: 33px;

  .option {
    background-color: $unnnic-color-background-snow;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: $unnnic-spacing-stack-sm 0px;
    cursor: pointer;
  }
}

