@import 'variables.module.scss';
@import '~@weni/unnnic-system/src/assets/scss/unnnic.scss';

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 63px;
  width: 72px;
  background-color: $unnnic-color-background-sky;
  border-radius: $unnnic-border-radius-sm;
  border: 1px solid $unnnic-color-neutral-soft;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-top: 63px;
  z-index: 3000;

  .option {
    background-color: $unnnic-color-background-sky;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: $unnnic-spacing-stack-sm 0px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: $unnnic-color-neutral-soft;
    }
  }

  .disabled {
    cursor: not-allowed;
  }
}

.left_aligned {
  span {
    text-align: left !important;
  }
}
