@import 'variables.module.scss';
@import '~@weni/unnnic-system/src/assets/scss/unnnic.scss';

.search_card{
    display: flex;
    align-items: center;
    width: auto;
    height: 53px;
    position: fixed;
    z-index: 99;
    top: 135px;
    left: calc(50vw - 200px);
    border-radius: $unnnic-border-radius-sm;
    background-color: rgb(255,255,255);
    font-family: $unnnic-font-family-secondary, sans-serif;
    font-size: $unnnic-font-size-body-md;
    font-weight: $unnnic-font-weight-regular;
    color: $unnnic-color-neutral-dark;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    
    .input{
        display: flex;
        width: 220px;
        padding-right: $unnnic-spacing-xs;
        outline: none;
    }
    
    .number{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: rgb(255,255,255);
    }

    .buttons{
        display: flex;
        gap: $unnnic-spacing-nano;
        padding-right: $unnnic-spacing-xs;
    }
    

    .icon{
        display: flex;
        height: 100%;
        align-items: center;
        padding-left: $unnnic-spacing-sm;
    }

    .close{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 32px;
        padding: 6px;
        cursor: pointer;
    }
}

:global .Titlebar__filter{
    background: $unnnic-color-neutral-cleanest !important;
}

:global .unnnic-button--secondary:after{
    border: none;
    position: static;
}
:global .unnnic-button--secondary[data-v-2d9f2cbf]{
    box-shadow: none;
}

