@import 'variables.module.scss';
@import '~@weni/unnnic-system/src/assets/scss/unnnic.scss';

.search_card{
    display: flex;
    width: auto;
    height: 46px;
    position: fixed;
    z-index: 99;
    top: 5vh;
    left: 25vh;

    .input{
        width: 200px;
    }

    .number{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        background-color: rgba(208,211,217,.16);
    }

    .button{
        width: 5px;
        height: 100%;
        
    }
}

:global .unnnic-button--secondary:after{
    border: none;
    position: static;
}
.highlight{
    display: flex;
    width: 250px;
    height: 120px;
    background-color:rgba(251,243,145,0.5);
    position: fixed;
}