@import 'variables.module.scss';
@import '~@weni/unnnic-system/src/assets/scss/unnnic.scss';

.search_card{
    display: flex;
    align-items: center;
    width: auto;
    height: 53px;
    position: fixed;
    z-index: 99;
    top: 135px;
    left: calc(50vw - 200px);
    border: solid 1px #e2e6ed;
    border-radius: 4px;
    background-color: rgb(255,255,255);
    font-family: $unnnic-font-family-secondary, sans-serif;
    font-size: $unnnic-font-size-body-md;
    font-weight: $unnnic-font-weight-regular;
    color: $unnnic-color-neutral-dark;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    
    .input{
        display: flex;
        width: 220px;
    }
    
    .number{
        background-color: rgb(255,255,255);
        padding-left: 8px ;
    }

    .buttons{
        display: flex;
        gap: 10px;

        .button{
            width: 20px;
            height: 100%;
            align-items: center;
            border: none;
            background-color: rgb(255,255,255);
            cursor: pointer;
        }
    
        .button:hover{
            background-color: $unnnic-color-neutral-lightest;
        }
    }
    

    .icon{
        display: flex;
        height: 100%;
        align-items: center;
        margin: 16px;
    }

    .close{
        display: inline-flex;
        width: 32px;
        height: 32px;
        padding: 4px;
        margin-left: 18px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border: none;
        background-color: rgb(255,255,255);
        cursor: pointer;
    }
    .close:hover{
        background-color: $unnnic-color-neutral-lightest;
    }
}

:global .input[data-v-97b44e8c]{
    outline-style: none;
}
:global .unnnic-button--secondary:after{
    border: none;
    position: static;
}
:global .unnnic-button--secondary[data-v-2d9f2cbf]{
    box-shadow: none;
}

