@import 'variables.module.scss';
@import '~@weni/unnnic-system/src/assets/scss/unnnic.scss';

$background_offset: ($grid_size / 2) + ($node_padding) + px;

.canvas_container {
  overflow-x: scroll;
  width: 100%;
  margin-top: -130px;
}

.canvas_background {
  padding-top: 60px;
  padding-left: 130px;
  margin-right: -20px;

  background-color: $unnnic-color-background-snow;
  background-position: 0px 0px;
  background-image: radial-gradient(
    circle at center,
    $unnnic-color-neutral-clean 0,
    $unnnic-color-neutral-clean 1px,
    $unnnic-color-background-snow 2px,
    $unnnic-color-background-snow 100%);
  background-size: 40px 40px;
}
.canvas {
  position: relative;
  width: 100%;

  // margin-top: -40px;
}

.canvas:after {
  content: '';
  position: absolute;
  top: -134px;
  bottom: 0;
  width: 400%;
  left: 100%;

  background-color: $unnnic-color-background-snow;
  background-position: 0px 0px;
  background-image: radial-gradient(
    circle at center,
    $unnnic-color-neutral-clean 0,
    $unnnic-color-neutral-clean 1px,
    $unnnic-color-background-snow 2px,
    $unnnic-color-background-snow 100%);
  background-size: 40px 40px;
}

.drag_selection {
  position: absolute;
  background: $selection_square;
  border: 0px solid darken($selection_square, 10%);
  opacity: 0.2;
  pointer-events: none;
  z-index: $z_selection;
}
