@import 'variables.module.scss';
@import '~@weni/unnnic-system/src/assets/scss/unnnic.scss';

$background_offset: ($grid_size / 2) + ($node_padding) + px;

.canvas_container {
  overflow: hidden;
  width: 100%;
  margin-top: -281px;
}

.canvas_background {
  background-color: $unnnic-color-background-snow;
  background-position: 0p x 0px;
  background-image: radial-gradient(
    circle at center,
    $unnnic-color-neutral-soft 0,
    $unnnic-color-neutral-soft 1px,
    $unnnic-color-background-snow 2px,
    $unnnic-color-background-snow 100%);
  background-size: 40px 40px;
}
.canvas {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  outline: none;
}

.canvas:after {
  content: '';
  position: absolute;
  top: -134px;
  bottom: 0;
  width: 400%;
  left: 100%;

}

.drag_selection {
  position: absolute;
  background: $selection_square;
  border: 0px solid darken($selection_square, 10%);
  opacity: 0.2;
  pointer-events: none;
  z-index: $z_selection;
}


.cursor_select {
  cursor: default;
}

.cursor_drag {
  cursor: grab;
}

.cursor_dragging {
  cursor: grabbing;
}

.zoom_control {
  position: fixed;
  bottom: $unnnic-spacing-giant;
  left: 36px; 
  display: inline-flex;
  align-items: center;
  gap: $unnnic-spacing-xs;

  border-radius: $unnnic-border-radius-sm;
  background: #FFF;
  color: $unnnic-color-neutral-cloudy;

  box-shadow: $unnnic-shadow-level-near;

  .in, .out {
    display: flex;
    width: $unnnic-spacing-xl;
    height: $unnnic-spacing-xl;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $unnnic-spacing-xs;
    background: #FFF;
    font-size: $unnnic-font-size-title-md;
    cursor: pointer;

    &:hover {
      background: $unnnic-color-neutral-light;
    }

    &:active {
      background: $unnnic-color-neutral-soft;
    }

    span {
      padding:  $unnnic-spacing-xs;
    }
  }

  .percentage {
    display: flex;
    width: 44px;
    padding: $unnnic-spacing-nano;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: $unnnic-font-family-secondary;
    font-size: $unnnic-font-size-body-gt;
    line-height: 24px; /* 166.667% */

    span {
      font-size: 18px;
    }
  }
}