@import '~@weni/unnnic-system/src/assets/scss/unnnic.scss';

.optional_text_input {
  padding: $unnnic-spacing-stack-md 0px 0px 0px;

  .toggle_link {
    cursor: pointer;
    text-decoration: underline;
    font-size: 11px;
  }
}
